.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: #1e1f26;
  color: #ffffff;
}

.logo {
  font-size: 30px;
  font-weight: 500;
}

.links {
  display: flex;
  list-style: none;
  gap: 23px;
  margin: 0;
  padding: 0;
}
.links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

.links a:hover {
  color: #c084fc;
}
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .links {
    flex-direction: column;
    gap: 9px;
  }
}
